button {
  cursor: pointer;
  color: $white;
  border: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  padding: 5px 25px;
  font-size: 17px;
  font-weight: 600;
  &.purple {
    background: linear-gradient(
      to right,
      rgba(93, 65, 184, 1) 0%,
      rgba(154, 117, 255, 1) 100%
    );
    &:hover {
      opacity: 0.95;
      box-shadow: 0px 0px 7px 0px $studio;
    }
  }
  &.blue {
    background: linear-gradient(
      to right,
      rgba(61, 153, 249, 1) 0%,
      rgba(10, 218, 216, 1) 100%
    );
    &:hover {
      opacity: 0.95;
      box-shadow: 0px 0px 7px 0px $dodger;
    }
  }
  &.dblue {
    background: $bwood;
    font-size: 14px;
  }
  &.blank {
    background: transparent;
    color: $bwood;
    font-size: 14px;
    &:hover {
      box-shadow: none;
    }
  }
  &.big {
    font-size: 14px;
    padding: 10px 35px;
  }
}
